.banner{
    background-image: url(../../img/alimentacao-saudavel.jpg);
}

.table-container{
    width: 100%;
    max-width: 90vw;
    overflow-x:auto;
}

table{
    border-collapse: collapse; /* CSS2 */
    background: #FFFFF0;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
 
table td {
    border: 1px solid black;
    padding: 20px 5px;
}
 
table th {
    border: 1px solid black;
    background: #F0FFF0;
}

.titulo-tabela{
    margin-top: 40px;
    font-size: 18px;
}

@media (max-width: 790px){
    table{
        font-size: .8rem;
    }
    .titulo-tabela{
        text-align: center;
        padding: 0 25px;
        font-size: .8rem;
    }

    .table-container{
        max-width: 80%;
    }
}
@media (max-width: 470px){
    table{
        font-size: .5rem;
    }
}


